/* Variables */

/* Breakpoints */

$width: 800px;

/* Typography */

// Body
$background: #f0f0f0;
$font-size: 1rem;
$body-font-size: 1.15rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #454545;
$light-font-color: rgba(0, 0, 0, 0.6);
$light-font-color-hover: rgba(0, 0, 0, 0.8);
$font-family: Helvetica Neue, 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
$line-height: 1.6;

// Headings
$heading-font-family: 'Inter', -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;